:root{
    --nav-height: 80px;
    --nav-icon-height: 45px;
    --nav-height-collapsed: 50px;
    --nav-icon-height-collapsed: 25px;

    --slideshow-height: 80vh;

    --off-black: #222;
    --off-white: #EEEEEE;
    --light-grey: #DDDDDD;
    --off-white-50-opacity: rgba(238,238,238,0.75);
    --orange: rgb(136, 53, 8);
    --orange-30-opacity: rgba(136, 53, 8, 0.30);
    --orange-2: rgb(206, 86, 22);
    --orange-2-50-opacity: rgba(206, 86, 22, 0.5);
}

@font-face{
    font-family: 'nasalization';
    src: url('../fonts/Nasalization\ Rg.otf') format('opentype');
}

a {
    text-decoration: none;
    color: #222;
}

h1{
    font-family: nasalization;
}

.orange{
    background-color: var(--orange-2);
}

.white{
    background-color: var(--off-white);
}

.rounded{
    border-radius: 25px;
}

.card{
    margin: 15px 10px;
}

.text{
    text-align: left;
    padding: 10px 35px;
}

        /***********
        ** NAVBAR **
        ***********/

header{
    height: var(--nav-height);
    z-index:10;
    /* background-color: var(--orange-2); */
    display:flex;
    justify-content: space-between; 
    width:75%; 
    padding: 5px 12.5%;
    position:fixed;
    top: 0px;
    align-items: center;
    font-family: nasalization;
    /* font-size: 1.5rem; */

    transition: height 0.25s ease;
}

header.collapse{
    height: var(--nav-height-collapsed);
}

.nav-icon{
    color: var(--orange-2);
    font-size: 2rem;
    display:flex;
    text-shadow: var(--off-black) 0 0 1px;
    height:var(--nav-icon-height);
    align-items: center;
    transition: font-size 0.25s ease;
}

/* .nav-icon.collapse{
    font-size: 1.5rem;
} */

.nav-icon>div>img{
    height:var(--nav-icon-height);
    transition: height 0.25s ease;
}

.nav-icon.collapse>div>img{
    height:var(--nav-icon-height-collapsed);
}

.left-nav-div{
    display:flex;
}

.right-nav-div{
    display: flex;
}

.right-nav-div>li{
    font-size: 1rem;
    list-style: none;
    background-color: var(--off-white-50-opacity);
    padding: 5px 10px;
    margin: 0 2.5px;
    border-radius: 5px;
}

.right-nav-div>li:hover{
    transition: background-color 0.25s ease;
    background-color: var(--orange-2-50-opacity);
    border-radius: 5px;
}

        /************************
        ** MAIN PAGE TEMPLATES **
        ************************/

hero-title{
    font-size: 3rem;
    color: var(--orange-2);
    font-family: nasalization;
    text-align: left;
}

hero-page{
    color: var(--off-white);
    justify-self: center;
    width: 75vw;
    text-align: left;
    font-size: 1.5rem;
}

slideshow-container{
    border-top: 15px solid var(--orange-2);
    border-bottom: 15px solid var(--orange-2);
    width:100vw;
    height:var(--slideshow-height);
    position: relative;
    display: block;
}

.slide{
    display: flex;
    align-items: center;
    width:100vw;
    height:var(--slideshow-height);
    position: absolute;
    transition: opacity 0.5s ease;
    overflow: hidden;
    z-index: -1;
}

.slide>img{
    width:100%;
    vertical-align:baseline;
}

        /***********
        ** FOOTER **
        ***********/

footer{
    justify-items: center;
    background-color: var(--orange-2);
    width:100%;
    justify-self: center;
    padding: 10px 0;
    color: var(--off-white)
}

footer>ul{
    /* justify-self: center; */
    width: 400px;
    display: flex;
    /* padding: 15px 0; */
}

footer>ul>li{
    list-style: none;
    padding: 5px 20px;
}

footer>p{
    width: 50%;
    padding: 15px 0;
    font-size: 1rem;
}

footer>ul>li>a>svg{
    fill: var(--off-white)
}
