.merch-container{
    display: grid;
    justify-self: center;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    gap: 1vw;
    padding: 30px 2.5vw;
}

merch-card{
    background-color: var(--light-grey);
    position: relative;
    align-items: center;
    display: grid;
    grid-template-rows: 20% 75% 5%;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    transition: background-color 0.25s ease,
                color 0.25s ease;
}

merch-card:hover{
    color: var(--off-white);
    background-color: var(--orange-2);
}

merch-card>h1{
    padding-left: 5%;
    text-align:left;
    padding-top: 3%;
    font-size:1.8rem;
    z-index: 1;
}

merch-card>div{
    position:relative;
    display: flex;
    border-radius: 7.5px;
    align-items: center;
    justify-self: center;
    overflow: hidden;
    width: 90%;
    height: 100%;
}

.price{
    font-size: 2rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.25rem;
    font-weight: 900;
}

merch-card>div>img{
    width: 100%;
}
