* {
    padding:0;
    margin:0;
}

body{
    /* remove margins and scroll bars */
    /* overflow: hidden; */

    /* style text */
    text-align: center;
    font-size: 12px;
    font-family: monospace;
    background-color: var(--off-white);

    /* color text */
    color: var(--off-black);
}